[Unit]
Description=Traefik
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/traefik
ExecStart=docker compose up
User=traefik
Group=traefik

[Install]
WantedBy=multi-user.target